<!-- #(Link) -->
<div class="
    post-content
    <!-- #(Description) --> with-caption<!-- ## -->
    <!-- #(Thumbnail) --> with-thumbnail<!-- ## -->">
    <div class="link-wrapper">
        <a !(Target) href="!(URL)" class="link">
            <!-- #(Thumbnail) -->
            <div class="link-thumbnail"><img src="!(Thumbnail-HighRes)" alt="" /></div>
            <!-- ## -->
            <div class="link-text-wrapper clearfix">
                <div class="link-text">
                    <!-- #(Host) -->
                    <div class="link-host">!(Host)</div>
                    <!-- ## -->
                    <h2 class="link-title">!(Name)</h2>
                    <!-- #(Excerpt) -->
                    <div class="link-excerpt">!(Excerpt)</div>
                    <!-- ## -->
                    <!-- #(Author) -->
                    <div class="link-author">!(Author)</div>
                    <!-- ## -->
                </div>
            </div>
        </a>
    </div>
    <!-- #(Description) -->
    <div class="caption">
        !(Description)
    </div>
    <!-- ## -->
</div>
<!-- ## -->