<!-- #(Photo) -->
<figure class="
    post-content 
    <!-- #(HighRes) -->high-res<!-- ## -->
    <!-- #(Caption) --> with-caption<!-- ## -->" data-photo-width="!(PhotoWidth-HighRes)">
    <div class="photo-wrapper">
        <div class="photo-wrapper-inner">
            !(LinkOpenTag)<img src="!(PhotoURL-HighRes)" alt="!(PhotoAlt)" width="!(PhotoWidth-HighRes)" height="!(PhotoHeight-HighRes)">!(LinkCloseTag)
        </div>
    </div>
    <!-- #(Caption) -->
    <figcaption class="caption">
        !(Caption)
    </figcaption>
    <!-- ## -->
</figure>
<!-- ## -->