<footer id="footer" class="content clearfix">
    <!-- #(IndexPage) -->
        <!-- #(Pagination) -->
        <div id="pagination">
            <!-- #(PreviousPage) -->
            <a href="!(PreviousPage)" class="previous" data-current-page="!(CurrentPage)" data-total-pages="!(TotalPages)">!(lang:Previous)<span class="bg"></span></a>
            <!-- ## -->
            <!-- #(NextPage) -->
            <a href="!(NextPage)" class="next" data-current-page="!(CurrentPage)" data-total-pages="!(TotalPages)">!(lang:Next)<span class="bg"></span></a>
            <!-- ## -->
            <div class="loader"><div class="loader-bar"></div><div class="loader-bar"></div><div class="loader-bar"></div></div>
        </div>
        <!-- ## -->
    <!-- ## -->
</footer>