<section class="
    inline-meta post-extra
    <!-- #(RebloggedFrom) --> has-reblog<!-- ## -->
    <!-- #(ContentSource) --> has-source<!-- ## -->
    <!-- #(HasTags) --> has-tags<!-- ## -->">
    <!-- #(RebloggedFrom) -->
        <a class="meta-item reblog-link" href="!(ReblogParentURL)"><i class="icon-reblog"></i>!(ReblogParentName)</a>
    <!-- ## -->
    <!-- #(ContentSource) -->
        <a class="meta-item source-link" href="!(SourceURL)">!(lang:Source): !(SourceTitle)</a>
    <!-- ## -->
    <!-- #(HasTags) -->
        <!-- #(Tags) -->
             <a class="meta-item tag-link" href="!(TagURL)">!(Tag)</a>
        <!-- ## -->
    <!-- ## -->
</section>